<!doctype html>
<html ng-app="firstApp">
  <head>
    <title>First AngularJS App</title>
  </head>
  <body>
    <div ng-controller="FirstController as helloWorld">
      <span>Name:</span>
      <input type="text" ng-model="helloWorld.first">
      <input type="text" ng-model="helloWorld.last">
      <button ng-click='helloWorld.updateMessage()'>Message</button>
      <hr>
      {{helloWorld.heading + helloWorld.message}}
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/first.js"></script>
  </body>
</html>